body {
  font-family: "Arial", "meiryo", "sans-self";
  text-align: center;
}
.google-fonts {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
html {
  font-size: 20px;
}
.google-fonts {
  font-size: 40px;
  letter-spacing: 1.2em;
  text-shadow: 2px 2px 3px gray;
  border-bottom: solid 3px rgb(115, 115, 114);
}
.text-color {
  color: skyblue;
}
.text-color2 {
  color: rgb(255, 192, 203);
}
.heading1 {
  color: rgb(255, 192, 203);
}
.heading2 {
  color: skyblue;
}
#basic p {
  font-weight: bold;
}